# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.csproj.user
*.sln.docstates

# Properties 文件夹中的特定文件
Properties/PublishProfiles/
Properties/ServiceDependencies/
PublishProfiles/
ServiceDependencies/
*.pubxml
*.pubxml.user

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Build results
[Bb]uild/

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload

# Windows image file caches
Thumbs.db
ehthumbs.db

# Recycle Bin used on file shares
$RECYCLE.BIN/

# VS Code directories
.vscode/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp